/RemoteSystemsTempFiles
/.metadata
/DarkSenseCapture/Debug
/DarkSenseAnalyzer/Release_2/*.o
/DarkSenseAnalyzer/Release_1/*.o
/DarkSenseAnalyzer/results
/DarkSenseAnalyzer/Hight=53cm
/DarkSenseAnalyzer/Debug
/DarkSenseRunning/Debug
/thesis/Papers/*.pdf
/thesis/Papers/*.htm
/thesis/chapters/*.aux
/thesis/chapters/*.log
