/RemoteSystemsTempFiles
/.metadata
/DarkSenseCapture/Debug
/DarkSenseAnalyzer/Release_2/*.o
/DarkSenseAnalyzer/Release_1/*.o
/DarkSenseAnalyzer/results
/DarkSenseAnalyzer/Hight=53cm
/DarkSenseAnalyzer/Debug
/DarkSenseRunning/Debug
